<form method="post" action="{{ path('kontratua_lote_delete', {'id': kontratua_lote.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kontratua_lote.id) }}">
    <a href="javascript:void(0);" class="btnDeleteButton btn-xs btn-danger"><i class="fas fa-trash-alt"></i></a>
</form>
