<form method="post" action="{{ path('egoera_delete', {'id': egoera.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ egoera.id) }}">
    <button class="btnDeleteButton btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
