<form method="post" action="{{ path('saila_delete', {'id': saila.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saila.id) }}">
    <button class="btnDeleteButton btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
